{% extends "indx.html" %}

{% block head %}
	<title>My hobbies</title>
{% endblock %}
	
	
{% block body %}
	<h1 id="title" class="cls1">My hobbies</h1>
	<div>
		<div class="w3-content w3-display-container">
	  		<img class="mySlides" id="basket" src="../static/images/basket.jpg"style="width:60%; border-radius: 15px; margin:auto;">
	  		<img class="mySlides" id="swim" src="../static/images/swimming.jpg"style="width:60%; border-radius: 15px; margin:auto;">
			<img class="mySlides" id="code" src="../static/images/coding.jpg"style="width:60%; border-radius: 15px; margin:auto;">
			<img class="mySlides" id="body" src="../static/images/body.jpg"style="width:60%; border-radius: 15px; margin:auto;">
			<img class="mySlides" id="foot" src="../static/images/foot.jpg"style="width:60%; border-radius: 15px; margin:auto;">


			<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
			<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
		</div>
			 
			<script>
			var slideIndex = 1;
			showDivs(slideIndex);

			function plusDivs(n) {
			  showDivs(slideIndex += n);
			}

			function showDivs(n) {
			  var i;
			  var x = document.getElementsByClassName("mySlides");
			  if (n > x.length) {slideIndex = 1}    
			  if (n < 1) {slideIndex = x.length}
			  for (i = 0; i < x.length; i++) {
			     x[i].style.display = "none";  
			  }
			  x[slideIndex-1].style.display = "block";  
			}
			</script>

			 	<div class="divv">
					<h9>i have a lot of hobbies like playing basket ball, i love to play it especially with friends and I'm a person who loves sports like body building and swimming , and one of my favorites hobbies is coding. i love writing codes and i also enjoy making games and websites as i start to program anything i don't feel the time and i could set and write code for many hours. and i like drawing but I'm not that good artist but still i love trying to draw. one of my favorites sports is basketball, i love playing basket</h9>
				</div> 
		</div>

<br>
<br> 
		
{% endblock %}