<!DOCTYPE html>
<html>
	<head>
		<title>
			Salem Mufarreh
		</title>
		<link rel="icon" type="text/css" href="../static/home.png">
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<ul>
  <li><a class="active" href="../templates/ind.html">Home</a></li>
  
  <li><a href="../templates/index2.html">About</a></li>
  <li><a href="../templates/contact.html">Learn python</a></li>
  <li><a id="Nama" href="../templates/ind.html">Salem Mufarreh</a></li>
  <a class ="pic" title="follow me on facebook" href="https://www.facebook.com/salem.mufarreh"><img id="face" alt="follow me on facebook" src="../static/images/facebook.jpg"></a>
<a title="add me on snapchat" href="../templates/snapchat.html
"><img id="snap" alt="scan the image to add me on snapchat" src="../static/images/snapcode.png"></a>
<a title="follow me on instagram" href="https://www.instagram.com/salem_mufarreh/"><img id="insta" alt="follow me on instagram" src="../static/images/instagram.png"></a>

  
	</ul>
	</head>
<body background="../static/images/22.png">
	<h1 id="name">Welcome to my Website</h1>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#s").click(function(){
        $("#f").show();
    });
});
</script>



			<img id ="s" src="../static/images/Ramallah.png" class="test"></div> 


<div  id="f" style="display:none;"> Hello my name is Salem Mufarreh i'm 16 years old, I have one brother and one sister, I live in Ramallah and I study at Greek Catholic School.
<br>
Here you can learn more about me, my life and the code i wrote during WeCode.
	</div>
	</div>
</body>
</html>
