<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="text/css" href="../static/images/home.png">
		<link rel="icon" type="text/css" href="../static/images/home.png">
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<link rel="stylesheet" type="text/css" href="../static/css/w3.css">
		{% block head %}{% endblock %}
	</head>


	<body background="../static/images/22.png">
		<ul>
			<li><a class="active" href=".">Home</a></li> 
			<li><a href="about">About</a></li>
			<li><a href="quote">Quote of the day</a></li>
			<li><a href="contact">Contact Me</a></li>
			<li><a id="Nama" href="home">Salem Mufarreh</a></li>
			<a class ="pic2" title="follow me on facebook" href="https://www.facebook.com/salem.mufarreh"><img id="face" alt="follow me on facebook" src="../static/images/facebook.jpg"></a>
			<a title="add me on snapchat" href="snapchat"><img id="snap" alt="scan the image to add me on snapchat" src="../static/images/snapcode.png"></a>
			<a title="follow me on instagram" href="https://www.instagram.com/salem_mufarreh/"><img id="insta" alt="follow me on instagram" src="../static/images/instagram.png"></a>
		</ul>
	
		{% block body %}{% endblock %}
	</body>

</html>
