<!DOCTYPE html>
<html>
	<head>
		<title>
			Salem Mufarreh
		</title>
		<link rel="icon" type="text/css" href="home.png">
		<link rel="stylesheet" type="text/css" href="main.css">
		<ul>
  <li><a class="active" href="file:///home/user/Desktop/html/ind.html">Home</a></li>
  
  <li><a href="file:///home/user/Desktop/html/index2.html">About</a></li>
  <li><a href="file:///home/user/Desktop/html/contact.html">Learn python</a></li>
  <li><a id="Nama" href="file:///home/user/Desktop/html/ind.html">Salem Mufarreh</a></li>
  <a class ="pic2" title="follow me on facebook" href="https://www.facebook.com/salem.mufarreh"><img id="face" alt="follow me on facebook" src="facebook.jpg"></a>
<a title="add me on snapchat" href="snapchat
"><img id="snap" alt="scan the image to add me on snapchat" src="snapcode.png"></a>
<a title="follow me on instagram" href="https://www.instagram.com/salem_mufarreh/"><img id="insta" alt="follow me on instagram" src="instagram.png"></a>
	</ul>
	</head>
<body background="22.ong">
</body>
</html>